body{
    margin: 0  ;
}

.winkelkarretje{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#karretje{
    width: 32.5px;
    height: 32.5px;
    display: flex;
    justify-content: center;
}
#navbalk{
    height: 70px;
    background-color:#FF4DA6 ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0;
    
}
.navbalk-items{

    display: flex;
    justify-content: center;
    
}
#winkelwagen {
    display: none;
    overflow: hidden;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
