body{
    margin: 0  ;
}

.winkelkarretje{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 8px;
    
}

#karretje{
    width: 32.5px;
    height: 32.5px;
    display: flex;
    justify-content: center;
}
#navbalk{
    height: 70px;
    background-color:#FF4DA6 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;

    
}
.navbalk-items{

    display: flex;
    justify-content: center;
    

    
}
#winkelwagen {
    display: none;
    overflow: hidden;
    order: 6;
    margin-right: 2px;
    margin-top: 3px;
}
#alles{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}
#ont-winkelwagen{
    order: 6;
    width: 20%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .Btn {
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
  }

  .img_pro{
    max-width: 40px;
    max-width: 40px ;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    max-width: 10px;
    height: 20px;
  }

  .slider-container {
    width: 300px;
    overflow: hidden;
  }
